<% layout('layouts/boilerplate')%>

<%- include('../partials/title.ejs', { title: 'Reports' }) %>

<div class="container" x-data="{
    department: {
      nom: '',
      copy: '',
    },
    unitat: {
      nom: '',
      copy: '',
    },
    item: {
      nom: '',
      copy: '',
    }
  }">
  <div class="row">
    <div class="col-lg-2 col-4">
      <div class="dropdown">
          <button
            class="btn dark dropdown-toggle w-100"
            type="button"
            id="department"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
              Departament
          </button>
          <ul class="dropdown-menu" aria-labelledby="department">
              <% departments.forEach(department => { %>
              <li><a class="dropdown-item" @click="department.nom = `<%= department.nom %>`; department.copy = `<%= department.nom %>`;" href="#"><%= department.nom %></a></li>
              <% }) %>
              <li><a class="dropdown-item" @click="department.nom = 'all'; department.copy = 'Tots els departaments'" href="#">Tots els departaments</a></li>
          </ul>
      </div>
    </div>

    <div class="col-lg-4 col-6">
      <div class="input-group my-lg-0">
          <input type="text" class="form-control" :value="department.copy" disabled aria-label="Username" aria-describedby="basic-addon1" placeholder="Selecciona un departament" />
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-lg-2 col-4">
      <div class="dropdown">
          <button
            class="btn dark dropdown-toggle w-100"
            type="button"
            id="item"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
              Item
          </button>
          <ul class="dropdown-menu" aria-labelledby="item">
              <% items.forEach(item => { %>
              <li><a class="dropdown-item" @click="item.nom = `<%= item.nom %>`; item.copy = `<%= item.nom %>`;" href="#"><%= item.nom %></a></li>
              <% }) %>
              <li><a class="dropdown-item" @click="item.nom = 'all'; item.copy = 'Tots els items'" href="#">Tots els items</a></li>
          </ul>
      </div>
    </div>

    <div class="col-lg-4 col-6">
      <div class="input-group my-lg-0">
          <input type="text" class="form-control" :value="item.copy" disabled aria-label="Username" aria-describedby="basic-addon1" placeholder="Selecciona un item" />
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-lg-2 col-4">
      <div class="dropdown">
          <button class="btn dark dropdown-toggle w-100" type="button" data-input="unitat-input" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Unitat
          </button>
          <ul class="dropdown-menu" aria-labelledby="unitat">
              <% unitats.forEach(unitat => { %>
              <li><a class="dropdown-item" @click="unitat.nom = `<%= unitat.nom %>`; unitat.copy = `<%= unitat.nom %>`;" href="#"><%= unitat.nom %></a></li>
              <% }) %>
              <li><a class="dropdown-item" @click="unitat.nom = 'all'; unitat.copy = 'Totes les unitats'" href="#">Totes les unitats</a></li>
          </ul>
      </div>
    </div>

    <div class="col-lg-4 col-6">
      <div class="input-group my-lg-0">
          <input type="text" class="form-control":value="unitat.copy" disabled aria-label="Username" aria-describedby="basic-addon1" placeholder="Selecciona una unitat" />
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-lg-2 col-4">
      <button class="btn btn-primary w-100" type="button" x-cloak x-show="department.nom || item.nom || unitat.nom" @click="() => createReport(department, item, unitat)">
          Crea Report
      </button>
    </div>
  </div>
</div>

<script>
  function createReport(department, item, unitat) {
    const url = `/reports/show?department=${department.nom}&article=${item.nom}&unitat=${unitat.nom}`
    window.location.href = url
  }
</script>
