<% layout('layouts/boilerplate')%>

<%- include('../partials/title.ejs', { title: 'Totes les Comandes' }) %>

<div class="d-md-flex justify-content-between mt-4">
  <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn light mb-3 filter-all" href="/invoices">Totes les comandes</a>
    <a class="btn pending mb-3 filter-pending" href="/invoices?status=pendent">Pendents</a>
    <a class="btn approved mb-3 filter-approved" href="/invoices?status=aprovada">Aprovades</a>
    <a class="btn received mb-3 filter-received" href="/invoices?status=rebuda">Rebudes</a>

  </div>
  <a class="btn btn-primary mb-3" href="/invoices/new">Afegeix Comanda</a>
</div>

<table id="invoices-table" class="table table-striped align-middle">
  <thead>
    <tr>
      <th scope="col">Num.</th>
      <th scope="col">Responsable</th>
      <th scope="col">Items a Rebre</th>
      <th scope="col">Items Rebuts</th>
      <th scope="col">Items</th>
      <th scope="col">Preu total</th>
      <th scope="col">Ultima actualització</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%
      for (let invoice of invoices) {
        const isRebuda = invoice.status === 'rebuda'
        const isAprovada = invoice.status === 'aprovada'
    %>
      <tr>
        <th scope="row"><%= invoice.numInvoice %></th>
        <td><%= invoice.responsable && invoice.responsable.username %></td>
        <td><%= invoice.invoiceItems.reduce((acc, item) => acc += item.rebuts.filter(({ rebut }) => !rebut).length, 0) %></td>
        <td><%= invoice.invoiceItems.reduce((acc, item) => acc += item.rebuts.filter(({ rebut }) => rebut).length, 0) %></td>
        <td>
          <span class="truncate">
            <%= 
              invoice.invoiceItems.reduce((acc, item) => {
                if (!acc.includes(item.article)) acc.push(item.article)
                return acc
              }, []).join(', ')
            %>
          </span>
        </td>
        <td><%= invoice.total.toFixed(2) %> €</td>
        <td>
          <span class="truncate">
            <%= new Date(invoice.createdAt).toLocaleString('es-es', { dateStyle: 'short', timeStyle: 'short' }) %></td>
          </span>
        <td>
          <% if (isRebuda) { %>
            <span style="width: 50%; cursor: unset; pointer-events: none;" class="btn received status">Rebuda</span>
            <a onclick="window.open('/invoices/<%=invoice._id%>/print', '_blank')" style="width: 50%" class="btn btn-primary">Imprimeix</a>
          <% } else if (isAprovada) { %>
            <a href="/invoices/<%= invoice._id %>" style="min-width: 100%" class="btn approved status">Aprovada</a>
          <% } else { %>
            <a href="/invoices/<%= invoice._id %>" style="min-width: 100%" class="btn pending status">Pendent</a>
          <% } %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<script>
  const dataTable = new simpleDatatables.DataTable("#invoices-table", {
    searchable: true,
    fixedHeight: true,
    labels: {
      placeholder: "Busca...",
      searchTitle: "Busca a la taula",
      perPage: "entrades per pagina",
      noRows: "No s'han trobat inventaris",
      info: "Mostrant {start} - {end} d'un total de {rows} inventaris",
      noResults: "No s'han trobat inventaris",
    }
  })
</script>
