<% layout('layouts/boilerplate')%>
<p>
  <b>Responsable: <%= invoice.responsable.username %> </b>
</p>

<% if (invoice.status === 'aprovada') { %>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a type="button" class="btn btn-primary mb-2" href="/invoices/<%= invoice._id %>/receive">Rebre comanda</a>
  </div>
<% } %>

<table class="table table-condensed table-striped">
  <form id="proformForm" class="form-inline">
    <thead>
      <tr>
        <th>Naturalesa</th>
        <th>Tipus</th>
        <th>Article</th>
        <th class="numeros">Quantitat</th>
        <th class="numeros">Preu unitari</th>
        <th class="numeros">Tipus IVA</th>
        <th class="numeros">Subtotal</th>
        <th>Unitat de destí</th>
      </tr>
    </thead>

    <tbody>
      <% for (const item of invoice.invoiceItems) { %>
        <tr>
          <td width="10%">
            <div class="camps"><%= item.naturalesa %></div>
          </td>
          <td width="10%">
            <div class="camps"><%= item.tipus %></div>
          </td>
          <td width="20%">
            <div class="camps"><%= item.article %></div>
          </td>
          <td width="10%">
            <div class="numeros"><%= item.quantitat %>unitat/s</div>
          </td>
          <td width="10%">
            <div class="numeros"><%= item.preu %>€/u</div>
          </td>
          <td width="10%">
            <div class="numeros"><%= item.iva %>%</div>
          </td>
          <td width="10%">
            <div class="numeros">
              <%= item.subtotal %>€
            </div>
          </td>
          <td width="20%">
            <div class="camps"><%= item.unitat %></div>
          </td>
        </tr>
      <% } %>
    </tbody>
  </form>
</table>

<%
  const isAdmin = currentUser && currentUser.isAdmin
  if(isAdmin || isResponsable) {
%>
  <div class="card-body">

    <!-- Approva comanda -->
    <% if (isAdmin && invoice.status !== 'aprovada') { %>
    <form
      id="aprove-invoice"
      class="d-inline"
      action="/invoices/<%=invoice._id%>/status?_method=PUT&redirect=true"
      method="POST"
    >
      <input type="text" hidden="hidden" name="status" value="aprovada">
      <button class="btn btn-success" type="submit">Aprovar Comanda</button>
    </form>
    <% } %>

    <a
      href="/invoices/<%=invoice._id%>/edit"
      class="card-link btn btn-info"
      class="card-link"
      >Editar Comanda</a
    >
    <form
      id="delete-invoice"
      class="d-inline"
      action="/invoices/<%=invoice._id%>?_method=DELETE"
      method="POST"
    >
      <button class="btn btn-danger" type="submit">Esborrar Comanda</button>
    </form>

    <p class="h5 row numeros">
      <span class="sumatori-total"
        >Total Comanda: <%= invoice.total.toFixed(2) %>€ (IVA inclòs)
      </span>
    </p>
  </div>
<% } %>
<div class="card-footer text-muted">
  <a href="/invoices">Tots els invoices</a>
</div>

<script>
  const deleteInvoieForm = document.querySelector('#delete-invoice')
  deleteInvoieForm && deleteInvoieForm.addEventListener('submit', e => {
    const confirmation = confirm("N'estas segur?")
    if (!confirmation) e.preventDefault()
  })
</script>