<% layout('layouts/boilerplate')%>

<%- include('../partials/invoiceHeader.ejs') %>

<% if (invoice.status === 'aprovada') { %>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a type="button" class="btn btn-primary mb-2" href="/invoices/<%= invoice._id %>/receive">Rebre comanda</a>
  </div>
<% } %>

<table class="table table-condensed table-striped">
  <form id="proformForm" class="form-inline">
    <thead>
      <tr>
        <th>Inventariable</th>
        <th>Tipus</th>
        <th>Inventari</th>
        <th class="numeros">Quantitat</th>
        <th class="numeros">Preu unitari</th>
        <th class="numeros">Tipus IVA</th>
        <th class="numeros">Subtotal</th>
        <th>Unitat de destí</th>
      </tr>
    </thead>

    <tbody>
      <% for (const invoiceItem of invoice.invoiceItems) {
        const item = items.find(item => item.nom == invoiceItem.article) || {}
      %>
        <tr>
          <td width="10%">
            <div class="camps"><%= localizeBoolean(item.inventariable) %></div>
          </td>
          <td width="10%">
            <div class="camps"><%= item.tipus %></div>
          </td>
          <td width="20%">
            <div class="camps"><%= invoiceItem.article %></div>
          </td>
          <td width="10%">
            <div class="numeros"><%= invoiceItem.quantitat %>unitat/s</div>
          </td>
          <td width="10%">
            <div class="numeros"><%= invoiceItem.preu %>€/u</div>
          </td>
          <td width="10%">
            <div class="numeros"><%= invoiceItem.iva %>%</div>
          </td>
          <td width="10%">
            <div class="numeros">
              <%= invoiceItem.subtotal %>€
            </div>
          </td>
          <td width="20%">
            <div class="camps"><%= invoiceItem.unitat %></div>
          </td>
        </tr>
      <% } %>
    </tbody>
  </form>
</table>

<%
  const isAdmin = currentUser && currentUser.isAdmin
  if(isAdmin || isResponsable) {
%>
  <div class="card-body">

    <!-- Approva comanda -->
    <% if (isAdmin && invoice.status !== 'aprovada') { %>
    <form
      id="aprove-invoice"
      class="d-inline"
      action="/invoices/<%=invoice._id%>/status?_method=PUT&redirect=true"
      method="POST"
    >
      <input type="text" hidden="hidden" name="status" value="aprovada">
      <button class="btn approved type="submit">Aprovar Comanda</button>
    </form>
    <% } %>

    <a
      href="/invoices/<%=invoice._id%>/edit"
      class="card-link btn pending"
      >Editar Comanda</a
    >
    <form
      id="delete-invoice"
      class="d-inline"
      action="/invoices/<%=invoice._id%>?_method=DELETE"
      method="POST"
      x-data="{}"
      x-ref="deleteForm"
    >
      <% const content = "<span>Esborrar Comanda</span>"; %>
      <% const callback = "$refs.deleteForm.submit()" %>
      <%- include("../partials/confirmButton.ejs", { content, callback }) %>
    </form>

    <p class="h5 row numeros">
      <span class="sumatori-total"
        >Total Comanda: <%= invoice.total.toFixed(2) %>€ (IVA inclòs)
      </span>
    </p>
  </div>
<% } %>
<div class="card-footer text-muted">
  <a href="/invoices">Tots els invoices</a>
</div>

<script>
  const deleteInvoieForm = document.querySelector('#delete-invoice')
  deleteInvoieForm && deleteInvoieForm.addEventListener('submit', e => {
    const confirmation = confirm("N'estas segur?")
    if (!confirmation) e.preventDefault()
  })
</script>
