<% layout('layouts/boilerplate')%>
<h3 id="titol">Històric de Comanda</h3>
<p>
  <b>Responsable: <%= invoice.responsable.username %> </b>
</p>

<table class="table table-condensed">
  <form id="proformForm" class="form-inline">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Inventariable</th>
        <th>Tipus</th>
        <th>Article</th>
        <th>Quantitat</th>
        <th>Preu unitari</th>
        <th>Tipus IVA</th>
        <th>Subtotal</th>
        <th>Unitat de destí</th>
        <th>Proveidor</th>
        <th>Num. Serie</th>
      </tr>
    </thead>

    <%
      let i = 0
      for (const invoiceItem of invoice.invoiceItems) {
        const item = items.find(item => item.nom == invoiceItem.article) || {}
      %>
        <tbody>
            <tr class="table-secondary">
                <td width="3%">
                  <input id="expand-rows-<%= i %>" type="checkbox" data-bs-toggle="collapse" href="#children-rows-<%= i %>">
                  <label for="expand-rows-<%= i %>" class="bi bi-caret-down-fill"></label>
                </td>
                <td width="3%">
                    <div class="camps">
                        <input class="checkbox-children-rows" type="checkbox" data-target="#children-rows-<%= i %>">
                    </div>
                </td>
                <td width="10%">
                    <div class="camps" name="inventariable"><%= localizeBoolean(item.inventariable) %></div>
                </td>
                <td width="10%">
                    <div class="camps" name="tipus"><%= item.tipus %></div>
                </td>
                <td width="20%">
                    <div class="camps" name="article"><%= invoiceItem.article %></div>
                </td>
                <td width="10%">
                    <div class="numeros" name="quantitat"><%= invoiceItem.quantitat %> unitat/s</div>
                </td>
                <td width="10%">
                    <div class="numeros" name="preu"><%= invoiceItem.preu %> €/u</div>
                </td>
                <td width="10%">
                    <div class="numeros" name="iva"><%= invoiceItem.iva %> %</div>
                </td>
                <td width="10%">
                    <div class="numeros" name="subtotal">
                    <%= invoiceItem.subtotal %> €
                    </div>
                </td>
                <td width="20%">
                    <div class="camps" name="unitat"><%= invoiceItem.unitat %></div>
                </td>
                <td width="20%">
                    <div class="camps" name="proveidor"><%= invoiceItem.proveidor %></div>
                </td>
                <td width="20%"></td>
            </tr>
        </tbody>
        <% if (invoiceItem.quantitat >= 1) { %>
            <tbody id="children-rows-<%= i %>" class="collapse" data-invoice-item-id="<%= invoiceItem._id %>">
                <%
                    for (let i = 0; i < invoiceItem.rebuts.length; i++) {
                    const isRebut = invoiceItem.rebuts[i].rebut
                %>
                    <tr class="row-item <%= isRebut && "disabled" %>">
                        <td width="3%"></td>
                        <td width="3%">
                            <div class="camps">
                                <input type="checkbox" name="rebut" <%= isRebut && "checked disabled" %>>
                            </div>
                        </td>
                        <td width="10%" hidden>
                            <div class="camps value" name="department" data-value="<%= invoice.responsable.department.nom %>" hidden></div>
                        </td>
                        <td width="10%">
                            <div class="camps value" name="inventariable" data-value="<%= item.inventariable %>"><%= item.inventariable ? "Si" : "No" %></div>
                        </td>
                        <td width="10%">
                            <div class="camps value" name="tipus" data-value="<%= item.tipus %>"><%= item.tipus %></div>
                        </td>
                        <td width="20%">
                            <div class="camps value" name="article" data-value="<%= invoiceItem.article %>"><%= invoiceItem.article %></div>
                        </td>
                        <td width="10%">
                            <div class="numeros">1 unitat/s</div>
                        </td>
                        <td width="10%">
                            <div class="numeros value" name="preu" data-value="<%= invoiceItem.preu %>"><%= invoiceItem.preu %> €/u</div>
                        </td>
                        <td width="10%">
                            <div class="numeros value" name="iva" data-value="<%= invoiceItem.iva %>"><%= invoiceItem.iva %> %</div>
                        </td>
                        <td width="10%">
                            <div class="numeros">
                            <%= invoiceItem.subtotal %> €
                            </div>
                        </td>
                        <td width="20%">
                            <div class="camps value" name="unitat" data-value="<%= invoiceItem.unitat %>"><%= invoiceItem.unitat %></div>
                        </td>
                        <td width="20%">
                            <div class="camps value" name="proveidor" data-value="<%= invoiceItem.proveidor %>"><%= invoiceItem.proveidor %></div>
                        </td>
                        <td width="20%">
                            <input class="value" type="text" name="numSerie" value="<%= invoiceItem.rebuts[i].numSerie %>" <%= (isRebut || !item.inventariable) && "disabled" %>>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        <%
            }
            i++
        }
        %>
  </form>
</table>
