<% layout('layouts/boilerplate')%>
<h1>Totes les Comandes</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-primary mb-3" href="/invoices/new">Afegeix Comanda</a>
</div>

<table id="invoices-table" class="table table-striped align-middle">
  <thead>
    <tr>
      <th scope="col">Num. Comanda</th>
      <th scope="col">Responsable</th>
      <th scope="col">Num. Items</th>
      <th scope="col">Items</th>
      <th scope="col">Preu total</th>
      <th scope="col">Ultima actualització</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%
      for (let invoice of invoices) {
        const isRebuda = invoice.status === 'rebuda'
    %>
      <tr>
        <th scope="row"><%= invoice.numInvoice %></th>
        <td><%= invoice.responsable.username %></td>
        <td><%= invoice.invoiceItems.reduce((acc, item) => acc += item.quantitat, 0) %></td>
        <td>
          <span class="truncate">
            <%= 
              invoice.invoiceItems.reduce((acc, item) => {
                if (!acc.includes(item.article)) acc.push(item.article)
                return acc
              }, []).join(', ')
            %>
          </span>
        </td>
        <td><%= invoice.total.toFixed(2) %> €</td>
        <td>
          <span class="truncate">
            <%= new Date(invoice.createdAt).toLocaleString('es-es', { dateStyle: 'short', timeStyle: 'short' }) %></td>
          </span>
        <td>
          <% if (isRebuda) { %>
            <span style="min-width: 100%; cursor: unset;" class="btn btn-success">Rebuda</span>
          <% } else { %>
            <a href="/invoices/<%= invoice._id %>" style="min-width: 100%" class="btn btn-primary">Veure</a>
          <% } %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<script>
  const dataTable = new simpleDatatables.DataTable("#invoices-table", {
    searchable: true,
    fixedHeight: true,
    labels: {
      placeholder: "Busca...",
      searchTitle: "Busca a la taula",
      perPage: "entrades per pagina",
      noRows: "No s'han trobat articles",
      info: "Mostrant {start} - {end} d'un total de {rows} articles",
      noResults: "No s'han trobat articles",
    }
  })
</script>