<% layout('layouts/boilerplate')%>
<h1>Tots els Invoices</h1>
<div>
  <a href="/invoices/new">Afegeix Invoice</a>
</div>

<% for (let invoice of invoices){%>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Comanda núm. <%= invoice.numInvoice %></h5>
        <h6>
          De <%= invoice.responsable.username %> per a <%=
          invoice.responsable.username %>
        </h6>
        <span> </span>

        <p class="card-text"><% for (let item of invoice.invoiceItems){ %></p>
        <ul>
          <li class="card-text"><%=item.article%> <%= item.preu %></li>
        </ul>

        <% } %>

        <p class="card-text">
          <small class="text-muted"
            >Import total: <%= invoice.total %>€ (IVA inclòs)</small
          >
        </p>

        <a class="btn btn-primary" href="/invoices/<%=invoice.id%>"
          >Veure
        </a>
      </div>
    </div>
  </div>
</div>
<% }%>
