<% layout('layouts/boilerplate')%>
<p>
  <b>Responsable: <%= invoice.responsable.username %> </b>
</p>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button id="rebre-comanda-btn" type="button" class="btn btn-primary mb-2">Rebre comanda</button>
</div>

<table class="table table-condensed table-striped">
  <form id="proformForm" class="form-inline">
    <tr>
      <th>Naturalesa</th>
      <th>Tipus</th>
      <th>Article</th>
      <th class="numeros">Quantitat</th>
      <th class="numeros">Preu unitari</th>
      <th class="numeros">Tipus IVA</th>
      <th class="numeros">Subtotal</th>
      <th>Unitat de destí</th>
    </tr>

    <% for (const item of invoice.invoiceItems) { %>
      <tr>
        <td width="10%">
          <div class="camps"><%= item.naturalesa %></div>
        </td>
        <td width="10%">
          <div class="camps"><%= item.tipus %></div>
        </td>
        <td width="20%">
          <div class="camps"><%= item.article %></div>
        </td>
        <td width="10%">
          <div class="numeros"><%= item.quantitat %>unitat/s</div>
        </td>
        <td width="10%">
          <div class="numeros"><%= item.preu %>€/u</div>
        </td>
        <td width="10%">
          <div class="numeros"><%= item.iva %>%</div>
        </td>
        <td width="10%">
          <div class="numeros">
            <%= item.subtotal %>€
          </div>
        </td>
        <td width="20%">
          <div class="camps"><%= item.unitat %></div>
        </td>
      </tr>
    <% } %>
  </form>
</table>

<% if(currentUser && isOwner) { %>
<div class="card-body">
  <a
    href="/invoices/<%=invoice.id%>/edit"
    class="card-link btn btn-info"
    class="card-link"
    >Editar Comanda</a
  >
  <form
    class="d-inline"
    action="/invoices/<%=invoice._id%>?_method=DELETE"
    method="POST"
  >
    <button class="btn btn-danger">Esborrar Comanda</button>
  </form>

  <p class="h5 row numeros">
    <span class="sumatori-total"
      >Total Comanda: <%= invoice.total %>€ (IVA inclòs)
    </span>
  </p>
</div>
<% } %>
<div class="card-footer text-muted">
  <a href="/invoices">Tots els invoices</a>
</div>

<script>
  const invoice = <%- JSON.stringify(invoiceJSON) %>;
  const rebreComandaBtn = document.querySelector('#rebre-comanda-btn')
  rebreComandaBtn.addEventListener('click', () => {
    console.log(invoice)
    const { invoiceItems } = invoice
    invoiceItems.forEach(invoiceItem => {
      const { quantitat } = invoiceItem
      const createArticles = Array.from(Array(quantitat).keys()).map(() => {
        // Removing unnecessary props from article
        delete invoiceItem.quantitat
        delete invoiceItem.subtotal
        delete invoiceItem._id
        createArticle(invoiceItem)
      })
      Promise.all(createArticles)
        .then(() => window.location.href = '/articles')
        .catch(e => console.error(e))
    })
    
    function createArticle(article) {
      return fetch('/articles', {
        method: 'POST',
        mode: 'cors',
        headers: {
          "Content-Type": 'application/json'
        },
        body: JSON.stringify({ article })
      })
    }
  })
</script>