<% layout('layouts/boilerplate')%>

<%- include('../partials/title.ejs', { title: 'Tots els Articles' }) %>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-primary mb-3" href="/articles/new">Afegeix Article</a>
</div>

<table id="articles-table" class="table table-striped align-middle">
  <thead>
    <tr>
      <th scope="col">Num. Serie</th>
      <th scope="col">Nom</th>
      <th scope="col">Preu</th>
      <th scope="col">Unitat</th>
      <th scope="col">Departament</th>
      <th scope="col" data-type="date">Ultima modificacio</th>
      <th scope="col" data-sortable="false"></th>
    </tr>
  </thead>
  <tbody>
    <% for (let article of articles) { %>
      <tr>
        <td><%= article.numSerie || "n/a" %></td>
        <td><%= article.article %></td>
        <td><%= article.preu %></td>
        <td><%= article.unitat %></td>
        <td><%= article.department || " - " %></td>
        <td><%= new Date(article.updatedAt).toLocaleString('es-es', { dateStyle: 'short', timeStyle: 'short' }) %></td>
        <td>
          <a href="/articles/<%= article._id %>" class="btn btn-primary">Veure</a>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<script>
  const dataTable = new simpleDatatables.DataTable("#articles-table", {
    searchable: true,
    fixedHeight: true,
    labels: {
      placeholder: "Busca...",
      searchTitle: "Busca a la taula",
      perPage: "entrades per pagina",
      noRows: "No s'han trobat articles",
      info: "Mostrant {start} - {end} d'un total de {rows} articles",
      noResults: "No s'han trobat articles",
    }
  })
</script>


