<% layout('layouts/boilerplate')%>
<h1>Tots els Articles</h1>
<div>
  <a href="/articles/new" class="btn btn-primary mb-2">Afegeix Article</a>
</div>

<table id="articles-table" class="table table-striped align-middle">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Descripcio</th>
      <th scope="col">Unitat</th>
      <th scope="col">Creador</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% for (let article of articles) { %>
      <tr>
        <th scope="row"><%= article._id %></th>
        <td><%= article.article %></td>
        <td><%= article.descripcio %></td>
        <td><%= article.unitat %></td>
        <td><%= article.responsable.username %></td>
        <td>
          <a href="/articles/<%= article._id %>" class="btn btn-primary">Veure</a>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<script>
  const dataTable = new simpleDatatables.DataTable("#articles-table", {
    searchable: true,
    fixedHeight: true,
    labels: {
      placeholder: "Busca...",
      searchTitle: "Busca a la taula",
      perPage: "entrades per pagina",
      noRows: "No s'han trobat articles",
      info: "Mostrant {start} - {end} d'un total de {rows} articles",
      noResults: "No s'han trobat articles",
    }
  })
</script>


