<div class="container">
  <form id="add-row-form" autocomplete="off" action="#">
    <table id="add-row-table" class="table table-condensed table-striped">
      <tr>
        <th>Num. Serie</th>
        <th>Nom</th>
        <th>Preu</th>
        <th>Unitat de destí</th>
        <th>Departament</th>
        <th>Proveidor</th>
        <th></th>
      </tr>

      <tr class="add-row-row">
        <div class="form-group">
          <td style="display: none">
            <input type="hidden" id="tipus" name="tipus" />
          </td>
          <td style="display: none">
            <input type="hidden" id="naturalesa" name="naturalesa" value="inventariable" />
          </td>
          <td>
            <input
              type="text"
              class="numeros form-control numSerie"
              name="numSerie"
              id="numSerie"
              required
            />
          </td>
          <td>
            <input
              type="text"
              class="numeros form-control article"
              name="article"
              id="article"
              required
            />
          </td>
          <td>
            <input
              type="number"
              class="numeros form-control preu"
              step="0.01"
              name="preu"
              id="preu"
              required
            />
          </td>
          <td>
            <input
              type="text"
              class="camps form-control autocomplete"
              name="unitat"
              id="unitat"
              required
              autocomplete="off"
            />
            <span class="error-message">La unitat no existeix</span>
            <a href= "../unitats/new?tab=true" class="create-link" target="parent">Crear Unitat</a>
          </td>
          <td>
            <input
              type="text"
              class="camps form-control autocomplete"
              name="departament"
              id="departament"
              required
              autocomplete="off"
            />
            <span class="error-message">La departament no existeix</span>
            <a href= "../departaments/new?tab=true" class="create-link" target="parent">Crear Departament</a>
          </td>
          <td>
            <input
              type="text"
              class="camps form-control autocomplete"
              name="proveidor"
              id="proveidor"
              autocomplete="off"
              required
            />
            <span class="error-message">El proveidor no existeix</span>
            <a href= "../proveidors/new?tab=true" class="create-link" target="parent">Crear Proveidor</a>
          </td>
          <td>
            <button id="add-row-btn" class="btn btn-primary form-control">
              Afegir
            </button>
          </td>
        </div>
      </tr>

      <div class="row numeros" style="padding-right: 10%" id="crear"></div>
    </table>
  </form>

  <p></p>
  <p></p>

  <!-- Articles -->
  <table
    class="table table-condensed table-striped"
    id="articles"
    style=<%= articles.length ? '' : 'display: none' %>
  >
    <tr>
        <th>Num. Serie</th>
        <th>Nom</th>
        <th>Preu</th>
        <th>Unitat de destí</th>
        <th>Departament</th>
        <th>Proveidor</th>
        <th></th>
    </tr>
    
    <% if (articles.length) {
      articles.forEach(article => { %>
        <tr class="articles">
          <td name="tipus" data-value="<%- article.tipus %>" style="display: none" class="align-middle">
            <%= article.tipus %>
          </td>
          <td name="article" data-value="<%- article.article %>" style="display: table-cell" class="align-middle">
            <%= article.article %>
          <td name="preu" data-value="<%- article.preu %>" style="display: table-cell" class="align-middle">
            <%= article.preu %>
          <td name="unitat" data-value="<%- article.unitat %>" style="display: table-cell" class="align-middle">
            <%= article.unitat %>
          <td name="departament" data-value="<%- article.departament %>" style="display: table-cell" class="align-middle">
            <%= article.departament %>
          <td name="proveidor" data-value="<%- article.proveidor %>" style="display: table-cell" class="align-middle">
            <%= article.proveidor %>
          </td>
          <td>
            <button type="button" class="btn btn-danger delete-row-article">X</button>
          </td>
        </tr>
      <% }) %>
    <% } %>
  </table>
</div>
