<div class="container">
  <h4 class="h4 mt-5">Nova linia de comanda</h4>
  <form id="add-row-form" autocomplete="off" action="#">
    <table id="add-row-table" class="table table-condensed table-striped">
      <tr>
        <th>Quantitat</th>
        <th>Item</th>
        <th>Preu unitari (€)</th>
        <th>Tipus IVA (%)</th>
        <th>Unitat de destí</th>
        <th>Proveidor</th>
        <th></th>
      </tr>

      <tr class="add-row-row">
        <div class="form-group">
          <td>
            <input
              type="number"
              class="numeros form-control quantitat"
              name="quantitat"
              id="quantitat"
              required
            />
          </td>
          <td>
            <input
              class="camps form-control autocomplete"
              type="text"
              id="item"
              name="article"
              required
              autocomplete="off"
            />
            <span class="error-message">L'item no existeix</span>
            <a href= "/items/new?tab=true" class="create-link" target="parent">Crear Item</a>
          </td>
          <td>
            <input
              type="number"
              class="numeros form-control preu"
              step="0.01"
              name="preu"
              id="preu"
              required
            />
          </td>
          <td>
            <input
              type="number"
              class="numeros form-control iva"
              step="0.01"
              name="iva"
              id="iva"
              placeholder="%"
              required
            />
          </td>
          <td style="display: none">
            <input name="subtotal" id="subtotal" required />
          </td>
          <td>
            <input
              type="text"
              class="camps form-control autocomplete"
              name="unitat"
              id="unitat"
              required
              autocomplete="off"
            />
            <span class="error-message">La unitat no existeix</span>
            <a href= "../unitats/new?tab=true" class="create-link" target="parent">Crear Unitat</a>
          </td>
          <td>
            <input
              type="text"
              class="camps form-control autocomplete"
              name="proveidor"
              id="proveidor"
              autocomplete="off"
              required
            />
            <span class="error-message">El proveidor no existeix</span>
            <a href= "../proveidors/new?tab=true" class="create-link" target="parent">Crear Proveidor</a>
          </td>
          <td>
            <button id="add-row-btn" class="btn btn-primary form-control">
              Afegir
            </button>
          </td>
        </div>
      </tr>

      <div class="row numeros" style="padding-right: 10%" id="crear"></div>
    </table>
  </form>

  <h4 class="h4 mt-5">Línies de comanda</h4>

  <!-- Invoice items -->
  <table
    class="table table-condensed table-striped"
    id="invoice-items"
    style=<%= invoiceItems.length ? '' : 'display: none' %>
  >
    <tr>
      <th>Quantitat</th>
      <th>Item</th>
      <th>Preu unitari (€)</th>
      <th>Tipus IVA (%)</th>
      <th>Subtotal (€)</th>
      <th>Unitat de destí</th>
      <th>Proveidor</th>
      <th></th>
    </tr>
    
    <% if (invoiceItems.length) {
      invoiceItems.forEach(item => { %>
        <tr class="invoice-item">
          <td name="quantitat" data-value="<%- item.quantitat %>" style="display: table-cell" class="align-middle">
            <%= item.quantitat %>
          <td name="article" data-value="<%- item.article %>" style="display: table-cell" class="align-middle">
            <%= item.article %>
          <td name="preu" data-value="<%- item.preu %>" style="display: table-cell" class="align-middle">
            <%= item.preu %>
          <td name="iva" data-value="<%- item.iva %>" style="display: table-cell" class="align-middle">
            <%= item.iva %>
          <td name="subtotal" data-value="<%- item.subtotal %>" style="display: table-cell" class="align-middle">
            <%= item.subtotal %>
          <td name="unitat" data-value="<%- item.unitat %>" style="display: table-cell" class="align-middle">
            <%= item.unitat %>
          <td name="proveidor" data-value="<%- item.proveidor %>" style="display: table-cell" class="align-middle">
            <%= item.proveidor %>
          </td>
          <td>
            <button type="button" class="btn btn-danger delete-row-item">X</button>
          </td>
        </tr>
      <% }) %>
    <% } %>
  </table>

  <table>
    <div class="h5 row numeros">
      <span class="sumatori-total">Total Comanda: 0,00€ </span>
    </div>
  </table>

  <textarea name="comment" id="comment" class="form-control w-100 my-4" rows="5" placeholder="Escriu el teu comentari"><%= typeof invoice !== 'undefined' ? invoice.comment : '' %></textarea>

  <% if (typeof invoice === 'undefined' || invoice.status === 'pendent') { %>
    <div class="mb-3">
      <button id="<%= typeof invoice === 'undefined' ? 'send' : 'modify' %>-invoice" class="btn ms-auto d-block relative <%= typeof invoice === 'undefined' ? 'btn-success' : 'btn-info' %>">
        <%= typeof invoice === 'undefined' ? 'Finalitza Comanda' : 'Modifica Comanda' %>
      </button>
    </div>
  <% } %>

</div>
