<% layout('layouts/boilerplate')%>

<div class="row">
  <div class="col-6 offset-3">
    <h1>Editar User</h1>
    <form
      action="/users/<%=user._id%>?_method=PUT"
      method="POST"
      class="validated-form"
    >
      <div class="mb-3">
        <label for="centerName" class="form-label">Nom del Centre</label>
        <input
          type="text"
          class="form-control"
          id="centerName"
          name="centerName"
          placeholder="Introdueix el nom del centre (e.g. IES Sant Joan)"
          required
          disabled
          value="<%= center.name %>"
        />
      </div>
      <div class="mb-3">
        <label for="email">Email</label>
        <input
          class="form-control"
          type="email"
          id="email"
          name="user[email]"
          value="<%= user.email%>"
          required
          disabled
        />
      </div>
      <div class="mb-3">
        <label for="name">Nom</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="user[name]"
          value="<%=user.name %>"
          required
          disabled
        />
      </div>
      <div class="mb-3">
        <label for="surname">Cognoms</label>
        <input
          class="form-control"
          type="text"
          id="surname"
          name="user[surname]"
          value="<%=user.surname %>"
          required
          disabled
        />
      </div>
      <div class="mb-3">
        <label for="department">Departament</label>
        <input
          class="form-control"
          type="text"
          id="department"
          name="user[department]"
          value="<%=user.department %>"
          required
          disabled
        />
      </div>
      <div class="mb-3">
        <label for="admin">Is Admin</label>
        <input class="" type="checkbox" id="admin-checkbox" <%= user.isAdmin &&
        'checked' %> />
      </div>
      <input type="text" id="admin" name="user[isAdmin]" hidden />
      <div class="mb-3">
        <button class="btn btn-warning" type="submit">Actualitzar User</button>
      </div>
    </form>
    <a href="/users/<%= user._id%>">Tornar a l'User</a>
  </div>
</div>

<script>
  const adminCheckboxEl = document.querySelector("#admin-checkbox");
  const adminEl = document.querySelector("#admin");
  adminCheckboxEl.addEventListener("change", (e) => {
    const { currentTarget } = e;
    adminEl.value = currentTarget.checked;
  });
</script>
