<% layout('layouts/boilerplate')%>

<div class="row">
  <%- include('../partials/title.ejs', { title: 'Editar Item' }) %>

  <div class="col-6 offset-3">
    <form
      action="/items/<%=item._id%>?_method=PUT"
      method="POST"
      class="validated-form"
    >

      <div class="mb-3">
        <label class="form-label" for="inventariable">Inventariable</label>
        <select class="form-select" name="inventariable" id="inventariable">
          <option value="true" <%= item.inventariable ? 'selected' : '' %>>
            Inventariable
          </option>
          <option value="false" <%= !item.inventariable ? 'selected' : '' %>>
            No Inventariable
          </option>
        </select>
      </div>


      <div class="mb-3">
        <label class="form-label" for="nom">Nom Item</label>
        <input
          class="form-control"
          type="text"
          id="nom"
          name="nom"
          value="<%=item.nom %>"
          required
        />
        <div class="valid-feedback">Sembla correcte!</div>
      </div>

      <select
        class="form-select mb-3"
        aria-label="tipus"
        name="tipus"
        required
      >
        <option selected>Escull un tipus d'article</option>
        <option value="maquinaria">Maquinària</option>
        <option value="moble">Moble</option>
        <option value="utillatge">Utillatge</option>
        <option value="Consumible">Consumible</option>
        <option value="consumible">Llibres</option>
        <option value="consumible">Jocs</option>
        <option value="construccio">Material de construcciò</option>
        <option value="lampisteria">Material elèctric i lampisteria</option>
      </select>

      <div class="mb-3">
        <label class="form-label" for="descripcio">Descripció</label>
        <textarea
          class="form-control"
          type="text"
          id="descripcio"
          name="descripcio"
        >
<%= item.descripcio%></textarea
        >
      </div>

      <div class="mb-3">
        <button class="btn btn-success">Modifica item</button>
      </div>
    </form>
    <a href="/items/<%= item._id %>">Torna a l'item</a>
    <span class="mx-2">|</span>
    <a href="/items">Tots els Items</a>
  </div>
</div>
