<% layout('layouts/boilerplate')%>
<%- include('../partials/title.ejs', { title: 'Tots els Items' }) %>

<div class="d-flex justify-content-end mb-3">
  <a href="/items/new">
    <button href="/items/new" class="btn btn-primary">Afegeix Item</button>
  </a>
</div>

<table id="inventaris-table" class="table table-striped align-middle">
    <thead>
        <tr>
        <th scope="col">Nom</th>
        <th scope="col">Descripcio</th>
        <th scope="col">Inventariable</th>
        <th scope="col">Tipus</th>
        <th scope="col">Creador</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% for (let item of items) { %>
        <tr>
            <th><%= item.nom %></th>
            <td><%= item.descripcio %></td>
            <td><%= localizeBoolean(item.inventariable) %></td>
            <td><%= item.tipus %></td>
            <td><%= item.responsable?.username || " - " %></td>
            <td>
                <a href="/items/<%= item._id %>" class="btn dark w-100">Veure</a>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>

<script>
  const dataTable = new simpleDatatables.DataTable("#inventaris-table", {
    searchable: false,
    paging: false,
    sortable: true,
    fixedHeight: true,
    labels: {
      placeholder: "Busca...",
      searchTitle: "Busca a la taula",
      perPage: "entrades per pagina",
      noRows: "No s'han trobat items",
      info: "Mostrant {start} - {end} d'un total de {rows} items",
      noResults: "No s'han trobat items",
    }
  })
</script>
