<% layout('layouts/boilerplate')%>
<h1>Tots els Items</h1>
<div class="d-flex justify-content-end mb-3">
  <a href="/items/new">
    <button href="/items/new" class="btn btn-primary">Afegeix Item</button>
  </a>
</div>

<table id="articles-table" class="table table-striped align-middle">
    <thead>
        <tr>
        <th scope="col">Nom</th>
        <th scope="col">Descripcio</th>
        <th scope="col">inventariable</th>
        <th scope="col">Tipus</th>
        <th scope="col">Creador</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% for (let item of items) { %>
        <tr>
            <th><%= item.nom %></th>
            <td><%= item.descripcio %></td>
            <td><%= item.inventariable %></td>
            <td><%= item.tipus %></td>
            <td><%= item.responsable?.username || " - " %></td>
            <td>
                <a href="/items/<%= item._id %>" class="btn btn-primary">Veure</a>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>