<% layout('layouts/boilerplate')%>

<div class="row">
  <%- include('../partials/title.ejs', { title: 'Editar Inventari' }) %>

  <div class="col-6 offset-3">
    <form
      action="/inventaris/<%=inventari._id%>?_method=PUT"
      method="POST"
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="numSerie">Num. Serie</label>
        <input
          class="form-control"
          type="text"
          id="numSerie"
          name="inventari[numSerie]"
          value="<%=inventari.numSerie %>"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="nom">Nom Inventari</label>
        <input
          class="form-control"
          type="text"
          id="nom"
          name="inventari[article]"
          value="<%=inventari.article %>"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="unitat">Ubicació</label>
        <select class="form-select" name="inventari[unitat]" id="unitat">
          <% unitats.forEach((unitat) => { %>
            <option value="<%= unitat.nom %>" default="<% inventari.unitat === unitat.nom ? true : false %>">
              <%= unitat.nom %>
            </option>
          <% }) %>
        </select>
        <a href= "/unitats/new?tab=true" class="create-link" target="parent">Crear Unitat</a>
      </div>

      <div class="mb-3">
        <label class="form-label" for="preu">Preu de cost</label>
        <div class="input-group">
          <span class="input-group-text" id="preu-label">€</span>
          <input
            type="number"
            min="0"
            step="0.01"
            class="form-control"
            name="inventari[preu]"
            id="preu"
            placeholder="0.00"
            value="<%= inventari.preu%>"
            aria-label="preu"
            aria-describedby="preu-label"
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="descripcio">Descripció</label>
        <textarea
          class="form-control"
          type="text"
          id="descripcio"
          name="inventari[descripcio]"
        >
          <%= inventari.descripcio%>
        </textarea
        >
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Modifica inventari</button>
      </div>
    </form>
    <a href="/inventaris">Tots els Inventaris</a>
  </div>
</div>
