<% layout('layouts/boilerplate')%>

<%- include('../partials/title.ejs', { title: 'Reports' }) %>

<div class="d-flex justify-content-end">
  <h2 style="cursor: pointer">
    <i class="bi bi-printer-fill" x-data @click="printTable()"></i>
  </h2>
</div>

<table id="inventaris-table" class="table table-striped align-middle">
  <thead>
    <tr>
      <th scope="col">Num. Serie</th>
      <th scope="col">Nom</th>
      <th scope="col">Proveidor</th>
      <th scope="col">Preu</th>
      <th scope="col">Unitat</th>
      <th scope="col">Departament</th>
      <th scope="col" data-type="date">Ultima modificacio</th>
    </tr>
  </thead>
  <tbody>
    <% for (let inventari of inventaris) { %>
      <tr>
        <td><%= inventari.numSerie || "n/a" %></td>
        <td><%= inventari.article %></td>
        <td><%= inventari.proveidor %></td>
        <td><%= inventari.preu %></td>
        <td><%= inventari.unitat %></td>
        <td><%= inventari.department || " - " %></td>
        <td><%= new Date(inventari.updatedAt).toLocaleString('es-es', { dateStyle: 'short', timeStyle: 'short' }) %></td>
      </tr>
    <% } %>
  </tbody>
</table>

<script>
  const dataTable = new simpleDatatables.DataTable("#inventaris-table", {
    searchable: false,
    paging: false,
    sortable: false,
    fixedHeight: true,
    labels: {
      placeholder: "Busca...",
      searchTitle: "Busca a la taula",
      perPage: "entrades per pagina",
      noRows: "No s'han trobat inventaris",
      info: "Mostrant {start} - {end} d'un total de {rows} inventaris",
      noResults: "No s'han trobat inventaris",
    }
  })

  function printTable () {
    dataTable.print()
  }
</script>
